<div class="container">
  <button type="button" class="btn btn-primary">Ajouter un nouveau post</button>
  <br/>
  <table class="table table-striped table-hover">
    <caption>Liste des postes</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Titre</th>
        <th>Contenu</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of listPosts">
        <td>{{p.id}}</td>
        <td>{{p.userId}}</td>
        <td>{{p.title}}</td>
        <td>{{p.body}}</td>
      </tr>
    </tbody>
  </table>
</div>
